stages:
    - deploy

Deploy-develop :
 stage: deploy
 image: alpine:latest
 tags:
    - ssh
 script:
   - eval $(ssh-agent -s) 
   - eval PRIVATE_KEY=\$SSH_PRIVATE_KEY && echo "${PRIVATE_KEY}" | base64 -d | ssh-add - > /dev/null
   - mkdir -p ~/.ssh 
   - chmod 700 ~/.ssh 
   - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config 
   - eval USER_HOST=\$SSH_USER_HOST && ssh ${USER_HOST}  "cd /var/www/any-to-md-service && git status && ls -lha"
   - eval USER_HOST=\$SSH_USER_HOST && ssh ${USER_HOST}  "cd /var/www/any-to-md-service && git pull && git switch develop"
   - eval USER_HOST=\$SSH_USER_HOST && ssh ${USER_HOST}  "cd /var/www/any-to-md-service && git lfs pull"
   - eval USER_HOST=\$SSH_USER_HOST && ssh ${USER_HOST}  "cd /var/www/any-to-md-service && docker compose build"
   - eval USER_HOST=\$SSH_USER_HOST && ssh ${USER_HOST}  "cd /var/www/any-to-md-service && docker compose up -d"
   - eval USER_HOST=\$SSH_USER_HOST && ssh ${USER_HOST}  "cd /var/www/any-to-md-service && docker images -f 'dangling=true' -q | xargs --no-run-if-empty docker rmi" 
 after_script:
   - if [ ${CI_JOB_STATUS} == "success" ]; then EXIT_STATUS=0; else EXIT_STATUS=1; fi 
   - echo 'EXIT_STATUS='$EXIT_STATUS 
 when: always 
 rules:
    - if: '$CI_COMMIT_BRANCH == "develop"'

Deploy-prod :
 stage: deploy
 image: alpine:latest
 tags:
    - ssh
 script:
   - eval $(ssh-agent -s) 
   - eval PRIVATE_KEY=\$SSH_PRIVATE_KEY_PROD && echo "${PRIVATE_KEY}" | base64 -d | ssh-add - > /dev/null
   - mkdir -p ~/.ssh 
   - chmod 700 ~/.ssh 
   - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config 
   - eval USER_HOST=\$SSH_USER_HOST_SERVICES_PROD && ssh ${USER_HOST}  "cd /home/services/any-to-md-service && git status && ls -lha"
   - eval USER_HOST=\$SSH_USER_HOST_SERVICES_PROD && ssh ${USER_HOST}  "cd /home/services/any-to-md-service && git pull && git switch main"
   - eval USER_HOST=\$SSH_USER_HOST_SERVICES_PROD && ssh ${USER_HOST}  "cd /home/services/any-to-md-service && git lfs pull"
   - eval USER_HOST=\$SSH_USER_HOST_SERVICES_PROD && ssh ${USER_HOST}  "cd /home/services/any-to-md-service && docker compose -f docker-compose-prod.yml build"
   - eval USER_HOST=\$SSH_USER_HOST_SERVICES_PROD && ssh ${USER_HOST}  "cd /home/services/any-to-md-service && docker compose -f docker-compose-prod.yml up -d"
   - eval USER_HOST=\$SSH_USER_HOST_SERVICES_PROD && ssh ${USER_HOST}  "cd /home/services/any-to-md-service && docker images -f 'dangling=true' -q | xargs --no-run-if-empty docker rmi" 
 after_script:
   - if [ ${CI_JOB_STATUS} == "success" ]; then EXIT_STATUS=0; else EXIT_STATUS=1; fi 
   - echo 'EXIT_STATUS='$EXIT_STATUS 
 when: always 
 rules:
    - if: '$CI_COMMIT_BRANCH == "main"'